---
layout: page
permalink: /ee272b-spring2021/
title: EE272B - Design Projects in VLSI Systems II
subtitle: Design and tape out your own digital, analog or mixed-signal chip in an open-source technology! 
show_sidebar: false
menubar: ee272_menu
---
<div class="content">

    
<h2 id="overview">Overview</h2>

<p>This is a follow on course to EE272A. While in EE272A you learn the EDA tool flow and design a pre-specified digital neural network accelerator and an analog block, in EE272B you will leverage your knowledge from EE272A and design and fabricate your own digital/analog/mixed-signal chip! This is a completely project-based course where, working in teams of two, you will propose your own mixed-signal chip, write a Verilog or a synthesizable C++ model of your chip, create a testing/debug strategy for your chip, wrap custom layout to fit into a standard cell system, use synthesis and place and route tools to create the layout of your chip, perform physical verification and finally tape it out in the open-source SkyWater 130 nm technology. Useful for anyone who will build a chip in their Ph.D.</p>

<p><strong>Term</strong>: 2020-2021 Spring<br /><br />
    
<strong>Units</strong>: 3-4<br /><br />
    
<strong>Instructor</strong>: Priyanka Raina (praina at stanford dot edu)<br /><br />
    
<strong>TAs</strong>: Kartik Prabhu (kprabhu7 at stanford dot edu), Daniel Stanley (dstanley at stanford dot edu)<br /><br />
    
<strong>Lectures</strong>: Mon, Wed, 1 - 2:30 PM over Zoom. <br /><br />
    
<strong>Open office hours</strong>:<br />
Priyanka: Wed, 2:30 - 3:30 PM over Zoom.<br />
Kartik: Fri, 1 - 2 PM over Zoom.<br />
Daniel: Thu, 1 - 2 PM over Zoom.<br /><br />

<strong>Project sync-ups</strong>:<br />
Priyanka: Mon, 2:30 - 3 PM (Po-Han/Charles), Mon, 3:30 - 4 PM (John)<br />
Kartik:	Mon, 2:30 - 3 PM (Kylee/Sam), Mon, 3:30 - 4 PM (Ismael/George), Tue, 2 - 2:30 PM(Eldrick/Matthew)<br />
Daniel:	Tue, 3 - 3:30 PM (Aparna/Weston), Tue, 3:45-4:15 PM (Can/Estelle), Tue, 4:30 - 5 PM (Nikhil) <br /><br />
    
<strong>Canvas</strong>: All documents, including lecture notes, and lecture video recordings will be posted on Canvas. <br /><br />
    
<strong>Slack/Piazza</strong>: For questions about lectures and project debugging we will use Slack and Piazza. Everyone should also join the <a href="https://invite.skywater.tools/">skywater-pdk Slack channel</a> for collaborating and debugging with the larger open hardware community.
</p>    

<h2 id="pre-requisites">Pre-requisites</h2>
<p><a href="/ee271-autumn2019/">EE271</a>, <a href="/ee272a-winter2021/">EE272A</a> and fundamentals of digital/analog circuit design.</p>
    

<h2 id="projects">Student Projects</h2>
    
<h3 id="bandgap">Bandgap Voltage Reference</h3>
<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/john-wrapper-small.png" alt="Voltage reference" large_link="/assets/images/john-wrapper-small.png" %}
  </div>
  <div class="column">
    <span class="title">Bandgap Voltage Reference</span><br>
    <span class="subtitle">Loren Ipsum Dolar Sit Amet.</span>
  </div>
</div>
    
{% include image-modal.html ratio="is-4by5" link="/assets/images/john-wrapper-small.png" alt="Voltage reference" large_link="/assets/images/john-wrapper-small.png" %}
John Kustin  
[Code](https://github.com/johnkustin/ee272b)

<h3 id="bandgap">OpenPMIC: A Current Mode Buck Converter in Sky130</h3>
    
Weston Braun, Aparna Tumkur  
[Code](https://github.com/westonb/open-pmic)  

### OpenSourcePHY: A High Speed Serial Link in Sky130
Can Wang, Estelle He  
[Code](https://github.com/CansWang/open-source-phy_SKY130)  

### A Mixed-Signal Edge Accelerator for Real-Time mmWave Platform Vibration Compensation   
Nikhil Poole    
[Code](https://code.stanford.edu/nhpoole/ee272b_mixed_signal_mmwave_accelerator.git)  

### Wakey-Wakey: A Low-Power, Reconfigurable Wake Word Accelerator  
Matthew Pauly, Eldrick Millares  
[Code](https://github.com/eldrickm/wakey_wakey)  

### CryptoChip: A RISC-V Processor with Crypto Accelerator  
Kylee Krzanich, Sam Xu  
[Code](https://github.com/krsandwich/EE272B)  

### A RISC-V OoO Processor with Victim Caches  
George Klimiashvili, Ismael Garcia  
[Code](https://code.stanford.edu/igarc774/ee-272b-ooo-processor-project)  

### Toy-CGRA: A Coarse-Grained Reconfigurable Array  
Po-Han Chen, Charles Tsao  
[Code](https://github.com/chtsao8/ee272b_CGRA)  


## Grading	 

| Component | Weight |
| --------  | ------ |
|Project overview presentation|	5% |  
|RTL/schematic + tests|	20%|  
|Mid-quarter design review|	15%|  
|Layout + signoff|	20%|  
|Final presentation|	15%|  
|Final report (Only if taking the class for 4 units)|	15%|  
|Weekly syncups|	10%|  

</div>
