---
layout: page
permalink: /ee372-spring2022/
title: EE372 - Design Projects in VLSI Systems II
subtitle: Design and tape out your own digital, analog or mixed-signal chip in an open-source technology! 
show_sidebar: false
menubar: ee272_menu
---
<div class="content">

    
<h2 id="overview">Overview</h2>

<p>In EE372 you will leverage your knowledge of chip design flows from EE272 and design and fabricate your own digital/analog/mixed-signal chip! This is a completely project-based course where, working in teams of two, you will propose an idea for your own chip, write a Verilog or a synthesizable C++ model or a schematic of your chip, verify it extensively, generate a layout of your chip either manually or using synthesis and place and route tools, perform physical verification and finally tape it out in the <a href="https://github.com/google/skywater-pdk">open-source SkyWater 130 nm technology</a>. This course is useful for anyone who is thinking about designing a chip in their research or in their careers after graduation.</p>

<h2 id="projects">Technology and Design Flows</h2>
    
<div class="columns is-mobile is-centered is-vcentered">
  <div class="column">    
      
    <ul>
      <li><strong>Technology</strong>: <a href="https://github.com/google/skywater-pdk">SkyWater 130 nm open-source PDK</a>.</li>
      <li><strong>Shuttle</strong>: <a href="https://efabless.com/chipignite/2106Q">Efabless chipIgnite MPW shuttle</a>, which provides:
          <ul>
              <li>10 square mm area for the user design per project.</li>
              <li>A standardized harness called <a href="https://github.com/efabless/caravel">caravel</a> with a RISC-V CPU, RAM, and 38 general purpose I/Os.</li>
              <li>100 packaged ICs and 5 assembled boards post fabrication.</li>
          </ul>
      </li>
    </ul>

    <ul>
      <li><strong>Analog design flow</strong>: We use an open-source analog design flow with the following tools (note that commercial analog design tools like Virtuoso and Calibre are not supported for this open PDK yet): 
          <ul>
              <li>PDK files from <a href="https://github.com/google/skywater-pdk">skywater-pdk</a>, <a href="https://github.com/RTimothyEdwards/open_pdks">open_pdks</a> and <a href="https://github.com/StefanSchippers/xschem_sky130">xschem_sky130</a>. All of these are necessary.</li>
              <li>Schematic entry with <a href="https://github.com/StefanSchippers/xschem">xschem</a>.</li>
              <li>Simulation with <a href="https://sourceforge.net/p/ngspice/ngspice/ci/master/tree/">ngspice</a>.</li>
              <li>Layout, extraction and DRC with <a href="https://github.com/RTimothyEdwards/magic">magic</a>.</li>
              <li>LVS with <a href="https://github.com/RTimothyEdwards/netgen">netgen</a>.</li>
              <li>Manual routing of design using magic into the <a href="https://github.com/efabless/caravel_user_project_analog">caravel analog user project</a>. This user project is verified with <a href="https://github.com/efabless/open_mpw_precheck">precheck tool</a> and submitted to the shuttle.</li>
          </ul>
      </li>
    </ul>
  
  </div>
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-3by4" link="/assets/images/caravel.svg" alt="Voltage reference" large_link="/assets/images/caravel.svg" %}
  </div>    
</div>
    
{% include image-modal.html ratio="is-3by1" link="/assets/images/analog_flow.svg" alt="Voltage reference" large_link="/assets/images/analog_flow.svg" %}
<ul>
  <li><strong>Digital design flow</strong>: We use either an open-source digital design flow called <a href="https://github.com/efabless/openlane">OpenLane</a>, or for advanced features, a (mostly) <a href="https://code.stanford.edu/ee272/skywater-digital-flow">commercial digital design flow</a> shown below composed using <a href="https://github.com/mflowgen/mflowgen">mflowgen</a>. Note that since the open PDK does not have support for Calibre yet, we use a combination of magic and netgen for DRC, extraction and LVS for the digital designs as well. In either case, we perform the final integration of the user design into the <a href="https://github.com/efabless/caravel_user_project">caravel user project</a> using OpenLane. This user project is verified with <a href="https://github.com/efabless/open_mpw_precheck">precheck tool</a> and submitted to the shuttle.</li>
</ul>

{% include image-modal.html ratio="is-3by1" link="/assets/images/commercial_digital_flow.svg" alt="Voltage reference" large_link="/assets/images/commercial_digital_flow.svg" %}

    
<ul>
  <li><strong>Memories</strong>: For memories, there are two options:
      <ul>
          <li><a href="https://github.com/VLSIDA/OpenRAM">OpenRAM</a> SRAM compiler: While the support for SkyWater 130 nm technology is still being added to the OpenRAM compiler, there are pre-generated SRAM macros available <a href="https://github.com/efabless/sky130_sram_macros">here</a>. The 1 KByte and 2 KByte macros are verified and can be used in projects.</li>
          <li><a href="https://github.com/Cloud-V/DFFRAM">DFFRAM</a> compiler: This generates D flip-flop based memories. It is less dense than OpenRAM by a factor of 3, but more dense than what you would get by synthesizing to flip-flops using OpenLane.</li>
      </ul>
</ul>
    
    
<h2 id="projects">Resources</h2>

    
<ul>
    <li><h4>Installing Tools</h4>
        <ul>
            <li>This <a href="https://xschem.sourceforge.io/stefan/xschem_man/video_tutorials/install_xschem_sky130_and_ngspice.mp4">video</a> shows how to install ngspice, skywater-pdk, xschem_sky130, and xschem.</li>
            <li>For OpenLane, first install <a href="https://docs.docker.com/get-docker/">docker</a>, then follow the steps under <a href="https://github.com/efabless/openlane#quick-start">this quickstart guide</a>.</li>
        </ul>
    </li>
    
    <li><h4>Documentation</h4>
        <ul>
            <li><a href="https://skywater-pdk.readthedocs.io/en/latest/">SkyWater 130 nm PDK</a></li>
            <li><a href="http://repo.hu/projects/xschem/xschem_man/xschem_man.html">Xschem</a></li>
            <li><a href="http://ngspice.sourceforge.net/docs.html">Ngspice</a></li>
            <li><a href="http://opencircuitdesign.com/magic/magic_docs.html">Magic</a></li>
            <li><a href="http://opencircuitdesign.com/netgen/">Netgen</a></li>
            <li><a href="https://openlane.readthedocs.io/en/latest/">OpenLane</a></li>
            <li><a href="https://caravel-harness.readthedocs.io/en/latest/">Caravel</a></li>
            <li><a href="https://mflowgen.readthedocs.io/en/latest/">Mflowgen</a></li>
        </ul>
    </li>
    
    <li><h4>Tutorials and Examples</h4>
        <ul>
            <li>Digital flow:
                <ul>
                    <li>Our <a href="https://code.stanford.edu/ee272/skywater-digital-flow">commercial digital design flow</a> composed using <a href="https://github.com/mflowgen/mflowgen">mflowgen</a>, with two small examples: a GCD unit and a design with an SRAM.</li>
                    <li><a href="https://www.youtube.com/watch?v=d0hPdkYg5QI&ab_channel=efabless">OpenLane tutorial</a>.</li>
                </ul>
            </li>
            <li>Analog flow:
                <ul>
                    <li><a href="https://youtu.be/fGxs2TnDgrU">Xschem/ngspice tutorial for Monte Carlo simulation</a>.</li>
                </ul>
            </li>
            <li>Caravel:
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=jBrBqhVNgDo">Walkthrough of caravel user project and analog user project, and how to submit your design to the shuttle</a>.</li>
                    <li><a href="https://www.youtube.com/watch?v=zJhnmilXGPo&ab_channel=efabless">Caravel user project features</a> --- What are the utilities provided by caravel to the user project?</li>
                    <li><a href="https://youtu.be/9QV8SDelURk">Aboard caravel</a> --- How to integrate your design with caravel?</li>
                </ul>
            </li>   
        </ul>
    </li>
    
    <li><h4>Talks</h4>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=EczW2IWdnOM&ab_channel=FOSSiFoundation">SkywaterPDK: Fully open source manufacturable PDK for a 130nm process</a> by Tim Ansell</li>
            <li><a href="https://www.youtube.com/watch?v=Vhyv0eq_mLU">OpenLane, A Digital ASIC Flow for SkyWater 130nm Open PDK</a> by Mohamed Shalan</li>
            <li><a href="https://www.youtube.com/watch?v=HvWveK2fZt0&ab_channel=FOSSiFoundation">The striVe RISC-V SoC Family on SkyWater 130nm</a> by Mohamed Kassem</li>
            <li><a href="https://www.youtube.com/watch?v=Svus4uQ_CAA&ab_channel=FOSSiFoundation">Designing new 130nm cells for SkyWater 130nm</a> by James Stine</li>
            <li><a href="https://www.youtube.com/watch?v=9Lw83kFtnc4&ab_channel=FOSSiFoundation">OpenRAM on SkyWater 130nm</a> by Matt Guthaus</li>
            <li><a href="https://www.youtube.com/watch?v=eGucgfc_zbQ&ab_channel=FOSSiFoundation">Using Magic for DRC checks on SkyWater 130nm</a> by Tim Edwards</li>
            <li><a href="https://www.youtube.com/watch?v=qlBzE27at6M&ab_channel=FOSSiFoundation">45 Chips in 30 Days: Open Source ASIC at its best!</a> by Mohamed Kassem</li>
        </ul>
    </li>
</ul>
    
    
<h2 id="projects">Student Projects</h2>
    

<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/fastann.png" alt="Fast ANN Fieldious" large_link="/assets/images/fastann.png" %}
  </div>
  <div class="column">
      <span><h3>Fast ANN Fieldious: An Approximate Nearest-Neighbor (ANN) Field Hardware Accelerator</h3></span>
    
      <span><h5>Chris Calloway, Jake Ke</h5></span>
      
      <span><p><b>Code: 
        <a href="https://github.com/Chris-Not-Mikey/Fast-ANN-Fieldious">Design</a>, 
        <a href="https://github.com/jake-ke/caravel_fast_ann_fieldious">Caravel User Project</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/1eATEbHkYKuJgkEudkhe2r2xmGzlnZk65wf9D-JNxt4s/edit?usp=sharing">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1Ie0uCnQg5wL7kaqn-tUW8gMvX_XnOqE4hdrijEjCLVE/edit?usp=sharing">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/1E0SX-kqXGYDFDNbTdgd7gFyrWKSq3dE5GEdtrpGx7oY/edit?usp=sharing">Final Presentation</a>, 
        <a href="https://drive.google.com/file/d/1hpFFEVH7mqftNhRsy300WI2cGgf9wNFG/view?usp=sharing">Report</a>
      </b></p></span>
      
      <span><p>Fast ANN Fieldious is a hardware accelerator for computing approximate nearest neighbor fields (ANNF). This is an important but computationally expensive calculation needed for computer vision tasks such as optical flow, video compression and image pattern matching. Our accelerator implements a parallelized and pipelined version of the propagation assisted K-D tree algorithm for computing ANNF. The design runs at a clock frequency of 150 MHz, and achieves a throughput of 5.74M vectors/seconds with a power consumption of 204 mW.</p></span>
  </div>
</div> 
    
    
<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/openpuf.png" alt="OpenPUF" large_link="/assets/images/openpuf.png" %}
  </div>
  <div class="column">
      <span><h3>OpenPUF: Next-Generation Secret-Free Physical Unclonable Function</h3></span>
      
      <span><h5>Luke Sammarone, Xiaolin Wu</h5></span>
      
      <span><p><b>Code: 
        <a href="https://github.com/lsammarone/open-puf">Design</a>, 
        <a href="https://github.com/lsammarone/OpenPUF">Caravel User Project Analog</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/1XIW-DTDzFHhSsuh1iEh5OI1h3UX_lpeM-h7DsB8r8qk/edit?usp=sharing">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1Lm9-Uw0LP1x6GtQCPrpDMukfF7fUCG3dsouQck7-0OA/edit?usp=sharing">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/13B_dEMfrJocZJIYYXWAeRv8YpAzC7blMwXcpt6-oS-0/edit?usp=sharing">Final Presentation</a>,
        <a href="https://drive.google.com/file/d/1Ssx95Qzznp3acO89i73MqsRUZ8nSMcQZ/view?usp=sharing">Report</a>  
      </b></p></span>
      
      <span><p>Physical unclonable functions (PUFs) contain cryptographic secrets not in the form of digital values stored in memory, but in the physical characteristics of the hardware itself, enabling authentication and secret key generation securely and energy efficiently. This chip features four instances of 32-bit, 64-bit, and 128-bit bistable ring PUFs for characterization of stability, uniqueness, and settling time. The PUF super block occuies an area of 1.02 square mm and shows 48% uniqueness in post-layout simulation.</p></span>
  </div>
</div>     
    
    
<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/kairos.png" alt="Kairos" large_link="/assets/images/kairos.png" %}
  </div>
  <div class="column">
      <span><h3>Kairos: A Vector Processor for Error-State Extended Kalman Filter Acceleration</h3></span>
      
      <span><h5>Jeffery Yu, Yuchen Mei</h5></span>
      
      <span><p><b>Code: 
        <a href="https://github.com/yuchen-mei/ee372-esekf.git">Design</a>, 
        <a href="https://github.com/yuchen-mei/kairos-caravel">Caravel User Project</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/1WmaskmdIIYtPTDHG7TJ79RYmLqu1yxuU_WS16_fW2cQ/edit?usp=sharing">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1b3nMVrTfCtvIJxs7U29wtJiN-oFHV3YsM91B6E4yNQQ/edit?usp=sharing">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/1P7CjzcF5iAcAIDwZNW7R4-SXWt0GB2WAPhP62hHBbs0/edit?usp=sharing">Final Presentation</a>,
        <a href="https://drive.google.com/file/d/12CQBxLiMptdzgVfF32YbZGo5j_m_pKk3/view?usp=sharing">Report</a>  
      </b></p></span>
      
      <span><p>Kairos is a SIMD single precision floating point vector processor, with instructions conforming to the RISC-V ISA. It implements operations such as vector fused multipy-add, matrix inversion, and matrix multiply-add, to efficiently accelerate error-state extended Kalman filter (ES-EKF) for trajectory estimation.</p></span>
  </div>
</div> 


<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/adc.png" alt="ADC" large_link="/assets/images/adc.png" %}
  </div>
  <div class="column">
      <span><h3>12-bit 10-KSPS Incremental Delta-Sigma ADC in Skywater 130 nm</h3></span>
      
      <span><h5>Raymond Yang, Yaqing Xia</h5></span>

      <span><p><b>Code: 
        <a href="https://github.com/r09g/iadc">Design</a>, 
        <a href="https://github.com/r09g/iadc_caravel_wrapper">Caravel User Project Analog</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/1fyopPy0MCd6qpydRAPwJEP5EHlWvEWaHuTRNUVgZMPI/edit?usp=sharing">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1955hvZA_U9n1xgoFHceq1OoDXFpBfO8jdUdk44Tgr2Y/edit?usp=sharing">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/1c2SYwCApDFRDdKPPNrOOOLfqe60StEpd4qIpQ4CQSsg/edit?usp=sharing">Final Presentation</a>,
        <a href="https://drive.google.com/file/d/1NSC_uHmDi0j-iajQ2W8UeArt6grfDJiy/view?usp=sharing">Report</a>  
      </b></p></span>
      
      <span><p>This project is a 12-bit 10 KSPS incremental delta-sigma analog-to-digital converter (ADC) designed for sensor interface and instrumentation applications. The ADC consists of a second-order incremental modulator and three post-integrators. The total area of the ADC is 0.55 square mm, with 0.53 square mm for analog modulator and 0.02 square mm for digital filter.</p></span>
  </div>
</div> 
     

<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/grapevine.png" alt="Grapevine" large_link="/assets/images/grapevine.png" %}
  </div>
  <div class="column">
      <span><h3>Grapevine: An Asynchronous Numerical Classifier Using Sparse Grids</h3></span>
      
      <span><h5>Leo Liu, Priyanka Dilip</h5></span>
  
      <span><p><b>Code: 
        <a href="https://code.stanford.edu/pd7/grapevine_async-classifier-sparse-grids">Design</a>, 
        <a href="https://github.com/PriyankaDilip/caravel_user_project">Caravel User Project</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/16yflKVvxRMELvoY05vnATMOnCSaUjqey4r8QVjDLNzQ/edit?usp=sharing">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1E6xr5IrEW8jduBLA_gzD9_lYZ3vxOvvsp_FWD4htAAU/edit?usp=sharing">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/1Kejq8_irv5FZAtZC5ckpdBhtdsfrMvXvJCV2hPQuqeA/edit?usp=sharing">Final Presentation</a>
      </b></p></span>
     
      <span><p>Grid-based numerical methods sample N-dimensional functions at regular intervals to produce an N-dimensional set of discrete “grid points”. By breaking up grid points into hierarchical subgrids and eliminating subgrids above a certain hierarchy, one can obtain a sparsified grid space that reduces computational complexity. Grapevine is a hardware accelerator for solving classification problems using the sparse grid approach. It supports up to 6 dimensions and 256 grid points. Each grid point is implemented using a single processing element (PE). An asynchronous network-on-a-chip overlays the PEs to provide low-latency multicast routing.</p></span>
  </div>
</div> 
    

<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/openpuf.png" alt="Bandgap Reference" large_link="/assets/images/openpuf.png" %}
  </div>
  <div class="column">
      <span><h3>Automated Analog Layout of Bandgap Reference Circuit</h3></span>
      
      <span><h5>Yueting Li, Xingyu Ni</h5></span>
      
      <span><p><b>Code: 
        <a href="https://github.com/YuetingLi666/aloe-sky130">Design</a>, 
        <a href="https://github.com/lsammarone/OpenPUF">Caravel User Project Analog</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/1EKPvPM6gRSZjuaUKeoVuedm9fwZs69jZ/edit?usp=sharing&ouid=106549358980007323253&rtpof=true&sd=true">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1KtwFiTnod-7L6TK4Uh1gs00qvmbXrWOc/edit?usp=sharing&ouid=106549358980007323253&rtpof=true&sd=true">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/1Zp_VA55ln1SQd3MS24enabVhOmmtXbCUHLHd84XFJpM/edit?usp=sharing">Final Presentation</a>,
        <a href="https://drive.google.com/file/d/1wb8VvVwPUm9Nb3qiVZMERFxtXos34mLa/view?usp=sharing">Report</a>
      </b></p></span>
          
      <span><p>This project ports an automatic analog layout generation tool called <a href="https://ieeexplore.ieee.org/document/9524486">aloe</a> to work with SkyWater 130 nm technology. Aloe uses a digital place and route tool together with a genetic algorithm to meet different analog layout specifications. Using this tool, we generated several layouts for a bandgap voltage reference circuit on this chip, and we will compare these with a manually laid out version from the previous offering of this course.</p></span>
  </div>
</div> 

    
<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-third">
    {% include image-modal.html ratio="is-4by5" link="/assets/images/openenclave.png" alt="OpenEnclave" large_link="/assets/images/openenclave.png" %}
  </div>
  <div class="column">
      <span><h3>OpenEnclave: A Basic BGV Homomorphic Encryption Accelerator</h3></span>
      
      <span><h5>Ian MacFarlane, JD Kelly</h5></span>
      
      <span><p><b>Code: 
        <a href="https://github.com/somewhatdistracted/OpenEnclave">Design</a>, 
        <a href="https://github.com/somewhatdistracted/OpenEnclaveCaravel">Caravel User Project</a>
      </b></p></span>
      
      <span><p><b>
        Documentation: 
        <a href="https://docs.google.com/presentation/d/1n6xVLY0-bcxky8UasWF_5P7-HQ09HBuz-lyrTS4lI0E/edit?usp=sharing">Proposal</a>, 
        <a href="https://docs.google.com/presentation/d/1MrlSWDHvvKu0coFbYRCt7--kT4muAndg1f17CRrO200/edit?usp=sharing">Design Review</a>, 
        <a href="https://docs.google.com/presentation/d/1AXocW78-NtBvkox90tVeR3YqMNlvbGLc_jJV0i6rCBY/edit?usp=sharing">Final Presentation</a>,
        <a href="https://drive.google.com/file/d/12eSgX4-TmB8QBx1Ab13_dRdwWmjBgUZh/view?usp=sharing">Report</a>  
      </b></p></span>
      
      <span><p>Homomorphic encryption is a promising technique to enable secure computation on sensitive data. It has particualy seen significant interest for use in cloud based machine learning. OpenEnclave is an open-source hardware accelerator for the BGV fully homomorphic encryption scheme in SkyWater 130 nm technology. The design is capable of operating at 50 MHz and is comparable to or outperforms existing FPGA implementations in the literature.</p></span>
  </div>
</div> 
    
    
<h2 id="overview">Logistics</h2>

<p><strong>Term</strong>: 2021-2022 Spring<br /><br />
    
<strong>Units</strong>: 3-5<br />
For 3 units	- Create a design all the way to clean layout, but no integration into carrier SoC, and no tapeout. Deliverables will be design's code repository with working tests and documentation.<br />
For 4 units	- Everything for 3 units + integration into carrier SoC + tapeout.<br />
For 5 units	- Everything for 4 units + VLSI-style final paper with circuit description, simulation results and comparison with related work.<br />
<br />
    
<strong>Instructor</strong>: Priyanka Raina (praina at stanford dot edu)<br /><br />
    
<strong>TAs</strong>: Can Wang, Charles Tsao<br /><br />
    
<strong>Lectures</strong>: Tue, Thu 9:45 - 11:15 AM at Hewlett Teaching Center 102. <br /><br />
    
<strong>Open office hours</strong>:<br />
Priyanka Raina: Thu 11:15 - 12:15 in Allen 114.<br />
Charles Tsao: Fri 10 - 11 in Packard 104.<br />
Can Wang: Tue 11:15 - 12:15 in Packard 104.<br /><br />

<strong>Project sync-ups</strong>:<br />
Priyanka Raina: Tue 11:30 - 12 (Chris Calloway & Jake Ke), Tue 12 - 12:30 (Jeffery Yu & Yuchen Mei) in Allen 114.<br />
Charles Tsao: Wed 1 - 1:30 (Ian MacFarlane & JD Kelly), Wed 2 - 2:30 (Leo Liu & Priyanka Dilip) in Packard 109.<br />
Can Wang: Wed 12:00 - 12:30 (Yueting Li & Xingyu Ni), Thu 11:15 - 11:45 (Luke Sammarone & Xiaolin Wu), Thu 4:00 - 4:40 (Raymond Yang & Yaqing Xia).<br /><br />
    
<strong>Canvas</strong>: All documents, including lecture notes, and lecture video recordings will be posted on Canvas. <br /><br />
    
<strong>Slack/Piazza</strong>: For questions about lectures and project debugging we will use Slack and Ed Discussion. Everyone should also join the <a href="https://invite.skywater.tools/">skywater-pdk Slack channel</a> for collaborating and debugging with the larger open hardware community.
</p>    

<h2 id="pre-requisites">Pre-requisites</h2>
<p><a href="/ee271-autumn2019/">EE271</a>, <a href="/ee272a-winter2021/">EE272</a> and fundamentals of digital/analog circuit design.</p>
    
        
    
<h2 id="projects">Course Schedule</h2>
    
    
<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th>Topic</th>
      <th>Presenter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Tue, Mar 29</td>
      <td>Lecture: Tapeout process overview, digital and analog flows  </td>
      <td>Priyanka</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Thu, Mar 31</td>
      <td>Lecture: Project overview presentations (10 minutes per group)</td>
      <td>All groups</td>
    </tr> 
    <tr>
      <td>2</td>
      <td>Tue, Apr 5</td>
      <td>Lecture: Caravel SoC</td>
      <td>Priyanka</td>
    </tr>		
    <tr>
      <td>2</td>
      <td>Thu, Apr 7</td>
      <td>Lecture: Digital flow post innovus signoff and analog flow considerations</td>
      <td>Priyanka</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Tue, Apr 12</td>
      <td>Lecture: Caravel integration, simulation, and OpenLane tutorial</td>
      <td>Charles</td>
    </tr>      
    <tr>
      <td>3</td>
      <td>Thu, Apr 14</td>
      <td>Lecture: Analog validation</td>
      <td>Can</td>
    </tr>	
    <tr>
      <td>4</td>
      <td>Tue, Apr 19</td>
      <td>Lecture: Integrating user design in caravel - I</td>
      <td>Priyanka</td>
    </tr>	
    <tr>
      <td>4</td>
      <td>Thu, Apr 21</td>
      <td>Debugging help</td>
      <td>Priyanka</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Tue, Apr 26</td>
      <td>Lecture: Mid-quarter design review, functional demo (30 minutes per group)</td>
      <td>Chris Calloway/Jake Ke, Ian MacFarlane/JD Kelly</td>
    </tr>	
    <tr>
      <td>5</td>
      <td>Thu, Apr 28</td>
      <td>Lecture: Mid-quarter design review, functional demo (30 minutes per group)</td>
      <td>Raymond Yang/Yaqing Xia, Luke Sammarone/Xiaolin Wu, Yueting Li/Xingyu Ni</td>
    </tr>      
    <tr>
      <td>5</td>
      <td>Sat, Apr 30</td>
      <td>RTL/schematics + tests due</td>
      <td></td>
    </tr> 		
    <tr>
      <td>6</td>
      <td>Tue, May 3</td>
      <td>Lecture: Mid-quarter design review, functional demo (30 minutes per group)</td>
      <td>Jeffery Yu/Yuchen Mei, Leo Liu/Priyanka Dilip</td>
    </tr> 		
    <tr>
      <td>6</td>
      <td>Thu, May 5</td>
      <td>Lecture: Integrating user design in caravel - II</td>
      <td>Can</td>
    </tr> 	
    <tr>
      <td>7</td>
      <td>Tue, May 10</td>
      <td>Lecture: Virtuoso tutorial and how to generate timing models</td>
      <td>Priyanka</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Thu, May 12</td>
      <td>Debugging help</td>
      <td></td>
    </tr>      
    <tr>
      <td>8</td>
      <td>Tue, May 17</td>
      <td>Lecture: Integrating user design in caravel - III</td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Thu, May 19</td>
      <td>Running static timing analysis on caravel SoC</td>
      <td></td>
    </tr>      
    <tr>
      <td>9</td>
      <td>Mon, May 23</td>
      <td>Inital layout due</td>
      <td></td>
    </tr>  
    <tr>
      <td>9</td>
      <td>Tue, May 24</td>
      <td>Lecture: Final presentation in class (30 minutes per group)</td>
      <td>Jeffery Yu/Yuchen Mei, Leo Liu/Priyanka Dilip</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Thu, May 26</td>
      <td>Lecture: Final presentation in class (30 minutes per group)</td>
      <td>Raymond Yang/Yaqing Xia, Luke Sammarone/Xiaolin Wu, Yueting Li/Xingyu Ni</td>
    </tr>  	
    <tr>
      <td>10</td>
      <td>Tue, May 31</td>
      <td>Lecture: Final presentation in class (30 minutes per group)</td>
      <td>Chris Calloway/Jake Ke, Ian MacFarlane/JD Kelly</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Wed, Jun 8</td>
      <td>Tapeout --- Submit designs to shuttle</td>
      <td></td>
    </tr>
  </tbody>
</table> 
    
    
<h2 id="projects">Grading</h2>
    
    
<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Project overview presentation</td>
      <td>5%</td>
    </tr>
    <tr>
      <td>RTL/schematic + tests</td>
      <td>20%</td>
    </tr>
    <tr>
      <td>Mid-quarter design review</td>
      <td>15%</td>
    </tr>
    <tr>
      <td>Layout + signoff</td>
      <td>20%</td>
    </tr>
    <tr>
      <td>Final presentation</td>
      <td>15%</td>
    </tr>
    <tr>
      <td>Final report (Only if taking the class for 4 units)</td>
      <td>15%</td>
    </tr>
    <tr>
      <td>Weekly syncups</td>
      <td>10%</td>
    </tr>
  </tbody>
</table> 

</div>

